


<script type="text/javascript">


    $(document).ready(function () {
        $('#codetable').on('click', 'tbody td:first-child', function (e) {
            e.preventDefault();
            debugger;
            var rowIndex = $(e.target).closest("td").text();
           
          
        });

        var table = $('#codetable').DataTable({

            ajax: {

                type: "GET",
                url: "/Chuck/GetCategories",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                async: false,
                success: function (data) {
                    
                    for (var i = 0; i < data.length; i++) {
                        var row = $('<tr><td><a href="#"  data-toggle="modal" data-target="#categoryDetails" >' + data[i].name + '</a></td></tr>');
                        $('#codetable').append(row);
                    }
                }
            },
            error: function () {
                alert("Error occured!!")
            },
            columns: [
                { data: 'Name' }

            ]


        })

    });
</script>
<table id="codetable" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<asp:HiddenField id="myHiddenInput" runat="server" />
<div class="modal" id="categoryDetails">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Category Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              
                @{Html.RenderPartialAsync("GetCategoryDetails");}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>