<script type="text/javascript">
    $(document).ready(function () {
      

                $.ajax({
                    type: "GET",
                    url: "/Swapi/GetSwapi/",
                    dataType: "json",
                    data: { searchTerm: "animal" },
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        debugger;
                        for (var i = 0; i < data.length; i++) {
                            var row = $('<tr><td>' + data[i].id + data[i].categories + data[i].created_at + data[i].icon_url + data[i].updated_at + data[i].url + data[i].value + '</td><td>');
                            $('#tabledetails').append(row);
                        }
                    }
                },
                    error: function () {
                        alert("Error occured!!")
                    },
                    columns: [
                    { data: 'id' },
                    { data: 'categories' },
                    { data: 'created_at' },
                    { data: 'icon_url' },
                    { data: 'updated_at' },
                    { data: 'url' },
                    { data: 'value' }

                ]
                });
         
    });
</script>

<table id="tabledetails" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Categories</th>
            <th>Created At</th>
            <th>Icon Url</th>
            <th>Updated At</th>
            <th>Url</th>
            <th>Value</th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>